/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*---App styles---*/

body, html { height: 100%; }

body {
	font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
	color: white;
	-webkit-font-smoothing: antialiased;
	background: rgba(69,123,157,1);
	background: -moz-linear-gradient(-45deg, rgba(69,123,157,1) 0%, rgba(168,218,220,1) 99%, rgba(168,218,220,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(69,123,157,1)), color-stop(99%, rgba(168,218,220,1)), color-stop(100%, rgba(168,218,220,1)));
	background: -webkit-linear-gradient(-45deg, rgba(69,123,157,1) 0%, rgba(168,218,220,1) 99%, rgba(168,218,220,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(69,123,157,1) 0%, rgba(168,218,220,1) 99%, rgba(168,218,220,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(69,123,157,1) 0%, rgba(168,218,220,1) 99%, rgba(168,218,220,1) 100%);
	background: linear-gradient(135deg, rgba(69,123,157,1) 0%, rgba(168,218,220,1) 99%, rgba(168,218,220,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#457b9d', endColorstr='#a8dadc', GradientType=1 );
}

section { height: 100%; }

.container {
	width: 100%;
	max-width: 48.750em;
	padding: 1em; 
	margin: 0 auto; 
	text-align: center;
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  		-ms-transform: translateY(-50%);
  			transform: translateY(-50%);
}

label {
	font-size: 72px;
	font-weight: 700;
	text-transform: uppercase;
}

select, 
label {
	display: block;
	margin-bottom: 1rem;
	width: 100%;
	text-align: center;
}

select {
	font-size: 1em;
	padding: 1em; 
	border: 0;
	box-shadow: 0 2px 0 rgba(63, 123, 157,.4);
	cursor: pointer;
	text-align: left;
}

select:focus {
	outline: 0; 
}

select:focus::-ms-value {
	background-color: white;
	color: #333;
}

button {
	background: #1D3557;
	color: white;
	border: 0;
	position: relative;
	padding: 1em 3em;
	width: 10em;
	font-family: 'Open Sans', 'Helvetica', Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	box-shadow: 0 2px 0 rgba(63, 123, 157,.4);
	cursor: pointer;
	transition: all .3s; 
}

button[disabled] { 
	background: white;
	color: red; 
	box-shadow: none;
	cursor: initial; 
	opacity: .5;
}

#load {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	background: #457B9D;
	opacity: .8;
	text-align: center;
}

#load img {
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	    -ms-transform: translateY(-50%);
  		transform: translateY(-50%);
}
